---
layout: default
title: Projects by Thushantha Fernando | iOS Developer
description: A collection of all the projects built by Thushantha Fernando
subtitle: A collection of all the proejcts done by me.
permalink: /projects
---

<main>

  <section id="projects">
    <h2 class="title">Projects</h2>
    <p class="section__text__p1">{{ page.subtitle }}</p>
    
    <div class="project-list">
      {% for project in site.data.projects %} 
        {% include project.html %} 
      {% endfor %}
    </div>
  </section>
</main>
