<div class="frozen">
    <nav id="desktop-nav">
        <div class="logo"></div>
        <div>
            <ul class="nav-links">
                {% for item in site.data.nav %}
                <li><a href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <nav id="hamburger-nav">
        <div class="logo"></div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">    
                {% for item in site.data.nav %}
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
</div>