<div class="frozen">
    <nav id="desktop-nav">
        <div class="logo"></div>
        <div>
            <ul class="nav-links">
                <!-- <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li> -->
                {% for item in site.data.nav %}
                <li><a href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <nav id="hamburger-nav">
        <div class="logo"></div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <!-- <li><a href="#about" onclick="toggleMenu()">About</a></li>
                <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
                <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contact</a></li> -->
    
                {% for item in site.data.nav %}
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
</div>