<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    {% endif %}
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mediaqueries.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Sen&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}

    {{ content | extlinks }}

    {% include footer.html %}
    
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
  </body>
</html>
