---
layout: default
---

<main>
  <section id="projects-main">
    {% assign project = site.data.projects[page.slug] %}
    <h2 class="project-main-title">{{ project.name }}</h2>
    <!-- Page thumbnails or youtube or github -->
    {% if page.hasThumbnail %}
    <img
      loading="lazy"
      src="{{ site.baseurl }}/assets/images/projects/{{ page.name | remove: '.md' }}.png"
      class="project-main-image"
    />
    {% elsif page.youtube %}
    <iframe
      src="https://www.youtube.com/embed/{{ page.youtube }}"
      class="w-full aspect-video rounded-xl"
      allowfullscreen
      loading="lazy"
    >
    </iframe>
    {% elsif page.github %} {% assign image = page.github | prepend:
    "https://opengraph.githubassets.com/$/" | hashsert %}
    <img
      loading="lazy"
      src="{{ image }}"
      class="mx-auto sm:aspect-video rounded-xl"
    />
    {% endif %}

    <p class="project-desc_text">{{ project.desc }}</p>

    <div class="project-tag-container">
      {% for tag in project.tags %}
      <span class="project-tag">{{ tag }}</span>
      {% endfor %}
    </div>

    <!-- page visits -->
    {% if page.visit %}
    <div class="section__redirect">
      {% for item in page.visit %}
      <a
        href="{{ item.link }}"
        class="redirect-button"
      >
        {{ item.anchorText }} &gt;
      </a>
      {% endfor %}
    </div>
    {% endif %} {% assign content = page.content | strip_newlines %} {% if
    content != "" %}
    <div class="other-content">{{ page.content }}</div>
    {% endif %}
  </section>
</main>
